parameters:
	ignoreErrors:
		-
			message: "#^Property ShoppingFeed\\\\Iterator\\\\AbstractIterator\\:\\:\\$items type has no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: src/AbstractIterator.php

		-
			message: "#^Property ShoppingFeed\\\\Iterator\\\\AbstractIterator\\:\\:\\$items type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AbstractIterator.php

		-
			message: "#^Property ShoppingFeed\\\\Iterator\\\\AbstractIterator\\:\\:\\$items type has no value type specified in iterable type array\\|Traversable\\.$#"
			count: 1
			path: src/AbstractIterator.php

		-
			message: "#^Property ShoppingFeed\\\\Iterator\\\\CallbackIterator\\:\\:\\$iterator type has no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: src/CallbackIterator.php

		-
			message: "#^Interface ShoppingFeed\\\\Iterator\\\\CountableTraversable extends generic interface Traversable but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/CountableTraversable.php

		-
			message: "#^Method ShoppingFeed\\\\Iterator\\\\FilterAggregateIterator\\:\\:__construct\\(\\) has parameter \\$arrayOrTraversable with no type specified\\.$#"
			count: 1
			path: src/FilterAggregateIterator.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, array\\|Traversable given\\.$#"
			count: 1
			path: src/FilterAggregateIterator.php

		-
			message: "#^Interface ShoppingFeed\\\\Iterator\\\\IteratorInterface extends generic interface IteratorAggregate but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/IteratorInterface.php
